.tooltipWrapper {
    position: relative;
}

.tooltipWrapper > span:first-child {
    position: absolute;
    border-radius: 8px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: left;
    width: 250px;
    top: 0;
    left: 50%;
    font-size: 12px;
    line-height: 1.5;
    background: black;
    color: white;
    transform: translateY(-100%) translateX(-50%);
    font-weight: 400;
    z-index: 1000;
    word-wrap: break-word;
}

.tooltipWrapper.tooltipOpenToBottom  > span:first-child {
    min-height: min-content;
    transform: translateY(20px) translateX(-50%);
}